
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Marmelad&family=PT+Sans+Narrow:wght@400;700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol{
    list-style: none;
}
img{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
fieldset{
    border: none;
}

.favicon {
    width: 28px;
}

body {
    font-family: "Marmelad", sans-serif;
    background-color: #0b0a0b;
    color: #fff;
    padding: 0;
    margin: 0;

}

.container {
    max-width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    background-color: #0b0a0b;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1000; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.nav-site {
    display: flex;
    align-items: center;
}

.logo-site {
    display: flex;
    justify-content: center;
}

.logo-site img {
    width: 148px;
}
.nav-site-list{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.nav-site-list li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:  16px;
    gap: 4px;
    font-size: 22px;
}
.nav-site-list li a img{
    width: 28px;
}
.nav-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form{
    display: block;
    justify-content: center;
    align-items: center;
}
.search-form fieldset{
    border: none;
}
.search-box input{
   border: 2px solid #f79f23; 
   width: 240px;
   outline: none;
   background: none;
   padding: 12px 16px;
   border-radius: 8px;
   color: #fff;
}
::-webkit-search-cancel-button{
    margin-right: 38px;
}
.search-box img{
    width: 24px;
    position: relative;
    transform: translate(-48px , 8px);
}
/* .user-box{
    margin-left: 8px;
} */
.user-box a img{
    width: 40px;
}

.footer{
    color: #fff;
    background-color: #0b0a0b;  
}
.footer-content {
    padding: 40px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footer-nav-site {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo-site img{
    width: 148px;
}
.footer-nav-site-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav-site-list li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-left: 18px;
    font-size: 22px;
}
.footer-nav-site-list li a img{
    width: 28px;
}
.contacs-list li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 8px;
}
.contacs-list li a img{
    width: 28px;
}
.footer-content hr{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}
.social-contacs-list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social-contacs-list li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-contacs-list li a img{
    width: 36px;
}
.footer-info-p{
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}